<!DOCTYPE html>
<html>
  <head>
    <title>Articles Homepage</title>
  </head>

  <body>
    <h3>
      <% @articles.each do |article| %>
        <li><a href="<%=article["url"]%>"><%= article["title"] %> </a>:
        <%=article["description"]%></li>
      <% end %>
    </h3>

    <a href="/articles/new">Return to Add Article Page</a>
  </body>
</html>
